<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<hr>
<ul class="list-unstyled">
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name.downcase.capitalize, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
<p class="mt-3"><%= link_to raw('<i class="fas fa-plus"></i> add new cocktail'), new_cocktail_path %></p>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("esag2eogowcoi6ljp2cs",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("y4fd9lifb3fiu30v7p1z",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
